# 探索性数据分析（EDA）


有趣的数据集，包含球员和裁判之间的故事！


数据集介绍点击： [here](https://osf.io/47tnc/).

<img src="figures/f1.png" alt="FAO" width="290" >

## 任务：

探索性数据分析（EDA）. 挑战目标: **这些裁判在给红牌的时候咋想的呢，会不会被跟球员的肤色有关?**

In [6]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

#from __future__ import absolute_import, division, print_function
import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.pyplot import GridSpec
import seaborn as sns
import numpy as np
import pandas as pd
import os, sys
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')
sns.set_context("poster", font_scale=1.3)

#import missingno as msno
#import pandas_profiling

from sklearn.datasets import make_blobs
import time

## 数据简介：

> 数据包含球员和裁判的信息，2012-2013年的比赛数据，总共设计球员2053名，裁判3147名，特征列表如下：

> -- https://docs.google.com/document/d/1uCF5wmbcL90qvrk_J27fWAvDcDNrO9o_APkicwRkOKc/edit


| Variable Name: | Variable Description: | 
| -- | -- | 
| playerShort | short player ID | 
| player | player name | 
| club | player club | 
| leagueCountry | country of player club (England, Germany, France, and Spain) | 
| height | player height (in cm) | 
| weight | player weight (in kg) | 
| position | player position | 
| games | number of games in the player-referee dyad | 
| goals | number of goals in the player-referee dyad | 
| yellowCards | number of yellow cards player received from the referee | 
| yellowReds | number of yellow-red cards player received from the referee | 
| redCards | number of red cards player received from the referee | 
| photoID | ID of player photo (if available) | 
| rater1 | skin rating of photo by rater 1 | 
| rater2 | skin rating of photo by rater 2 | 
| refNum | unique referee ID number (referee name removed for anonymizing purposes) | 
| refCountry | unique referee country ID number | 
| meanIAT | mean implicit bias score (using the race IAT) for referee country | 
| nIAT | sample size for race IAT in that particular country | 
| seIAT | standard error for mean estimate of race IAT   | 
| meanExp | mean explicit bias score (using a racial thermometer task) for referee country | 
| nExp | sample size for explicit bias in that particular country | 
| seExp |  standard error for mean estimate of explicit bias measure |

In [7]:
# Uncomment one of the following lines and run the cell:

df = pd.read_csv("redcard.csv.gz", compression='gzip')

In [8]:
df.shape

(146028, 28)

In [9]:
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
height,145765.0,181.935938,6.738726,1.610000e+02,177.000000,182.000000,187.000000,2.030000e+02
weight,143785.0,76.075662,7.140906,5.400000e+01,71.000000,76.000000,81.000000,1.000000e+02
games,146028.0,2.921166,3.413633,1.000000e+00,1.000000,2.000000,3.000000,4.700000e+01
victories,146028.0,1.278344,1.790725,0.000000e+00,0.000000,1.000000,2.000000,2.900000e+01
ties,146028.0,0.708241,1.116793,0.000000e+00,0.000000,0.000000,1.000000,1.400000e+01
defeats,146028.0,0.934581,1.383059,0.000000e+00,0.000000,1.000000,1.000000,1.800000e+01
goals,146028.0,0.338058,0.906481,0.000000e+00,0.000000,0.000000,0.000000,2.300000e+01
yellowCards,146028.0,0.385364,0.795333,0.000000e+00,0.000000,0.000000,1.000000,1.400000e+01
yellowReds,146028.0,0.011381,0.107931,0.000000e+00,0.000000,0.000000,0.000000,3.000000e+00
redCards,146028.0,0.012559,0.112889,0.000000e+00,0.000000,0.000000,0.000000,2.000000e+00
rater1,124621.0,0.264255,0.295382,0.000000e+00,0.000000,0.250000,0.250000,1.000000e+00
rater2,124621.0,0.302862,0.293020,0.000000e+00,0.000000,0.250000,0.500000,1.000000e+00
refNum,146028.0,1534.827444,918.736625,1.000000e+00,641.000000,1604.000000,2345.000000,3.147000e+03
refCountry,146028.0,29.642842,27.496189,1.000000e+00,7.000000,21.000000,44.000000,1.610000e+02
meanIAT,145865.0,0.346276,0.032246,-4.725423e-02,0.334684,0.336628,0.369894,5.737933e-01
nIAT,145865.0,19697.411216,127126.197143,2.000000e+00,1785.000000,2882.000000,7749.000000,1.975803e+06
seIAT,145865.0,0.000631,0.004736,2.235373e-07,0.000055,0.000151,0.000229,2.862871e-01
meanExp,145865.0,0.452026,0.217469,-1.375000e+00,0.336101,0.356446,0.588297,1.800000e+00
nExp,145865.0,20440.233860,130615.745103,2.000000e+00,1897.000000,3011.000000,7974.000000,2.029548e+06
seExp,145865.0,0.002994,0.019723,1.043334e-06,0.000225,0.000586,0.001002,1.060660e+00

In [11]:
df.dtypes

playerShort       object
player            object
club              object
leagueCountry     object
birthday          object
height           float64
weight           float64
position          object
games              int64
victories          int64
ties               int64
defeats            int64
goals              int64
yellowCards        int64
yellowReds         int64
redCards           int64
photoID           object
rater1           float64
rater2           float64
refNum             int64
refCountry         int64
Alpha_3           object
meanIAT          float64
nIAT             float64
seIAT            float64
meanExp          float64
nExp             float64
seExp            float64
dtype: object

In [12]:
all_columns = df.columns.tolist()
all_columns

['playerShort',
 'player',
 'club',
 'leagueCountry',
 'birthday',
 'height',
 'weight',
 'position',
 'games',
 'victories',
 'ties',
 'defeats',
 'goals',
 'yellowCards',
 'yellowReds',
 'redCards',
 'photoID',
 'rater1',
 'rater2',
 'refNum',
 'refCountry',
 'Alpha_3',
 'meanIAT',
 'nIAT',
 'seIAT',
 'meanExp',
 'nExp',
 'seExp']

## Challenge

Before looking below, try to answer some high level questions about the dataset. 


How do we operationalize the question of referees giving more red cards to dark skinned players?
* Counterfactual: if the player were lighter, a ref is more likely to have given a yellow or no card **for the same offense under the same conditions**
* Regression: accounting for confounding, darker players have positive coefficient on regression against proportion red/total card

Potential issues
* How to combine rater1 and rater2? Average them? What if they disagree? Throw it out?
* Is data imbalanced, i.e. red cards are very rare?
* Is data biased, i.e. players have different amounts of play time? Is this a summary of their whole career?
* How do I know I've accounted for all forms of confounding?

**First, is there systematic discrimination across all refs?**

Exploration/hypotheses:
* Distribution of games played
* red cards vs games played
* Reds per game played vs total cards per game played by skin color
* Distribution of # red, # yellow, total cards, and fraction red per game played for all players by avg skin color
* How many refs did players encounter?
* Do some clubs play more aggresively and get carded more? Or are more reserved and get less?
* Does carding vary by leagueCountry?
* Do high scorers get more slack (fewer cards) for the same position?
* Are there some referees that give more red/yellow cards than others?
* how consistent are raters? Check with Cohen's kappa.
* how do red cards vary by position? e.g. defenders get more?
* Do players with more games get more cards, and is there difference across skin color?
* indication of bias depending on refCountry?

## Understand how the data's organized

The dataset is a single csv where it aggregated every interaction between referee and player into a single row. In other words: Referee A refereed Player B in, say, 10 games, and gave 2 redcards during those 10 games. Then there would be a unique row in the dataset that said: 

    Referee A, Player B, 2 redcards, ... 

This has several implications that make this first step to understanding and dealing with this data a bit tricky. First, is that the information about Player B is repeated each time -- meaning if we did a simple average of some metric of we would likely get a misleading result. 

For example, asking "what is the average `weight` of the players?"

In [13]:
df['height'].mean()

181.93593798236887

In [14]:
df['height'].mean()

181.93593798236887

In [15]:
df.groupby('playerShort').height.mean()

playerShort
aaron-hughes              182.0
aaron-hunt                183.0
aaron-lennon              165.0
aaron-ramsey              178.0
abdelhamid-el-kaoutari    180.0
abdon-prats               181.0
abdou-dampha              184.0
abdou-traore_2            180.0
abdoul-camara             177.0
abdoulaye-diallo_2        189.0
abdoulaye-diallo_3        182.0
abdoulaye-keita_2         188.0
abdoulaye-sane            184.0
abdoulwhaid-sissoko       180.0
abdul-rahman-baba         179.0
abdul-razak               180.0
abel-aguilar              185.0
abel-khaled               179.0
abelaziz-barrada          185.0
abou-diaby                188.0
aboulaye-keita            175.0
adam-bodzek               184.0
adam-campbell             168.0
adam-federici             188.0
adam-hlousek              188.0
adam-johnson              175.0
adam-lallana              173.0
adam-le-fondre            180.0
adam-morgan               179.0
adam-pinter               190.0
                          ...
yaya-toure                191.0
yoan-gouffran             175.0
yoann-gourcuff            185.0
yohan-cabaye              175.0
yohan-mollo               175.0
yohandry-orozco           164.0
yohann-poulard            190.0
yohann-thuram-ulien       187.0
yossi-benayoun            178.0
younes-belhanda           174.0
younes-kaboul             190.0
youssef-adnane            178.0
youssef-el-arabi          180.0
youssuf-mulumbu           177.0
yunus-malli               179.0
zakarie-labidi            178.0
zdenk-pospch              174.0
zdravko-kuzmanovic        186.0
ze-castro                 183.0
zhi-gin-lam               175.0
ziri-hammar               179.0
zlatan-alomerovic         187.0
zlatan-ibrahimovic        192.0
zlatko-junuzovic          172.0
zoltan-gera               181.0
zoltan-stieber            175.0
zouheir-dhaouadi          180.0
zoumana-camara            182.0
zubikarai                 185.0
zurutuza                  186.0
Name: height, Length: 2053, dtype: float64

In [16]:
np.mean(df.groupby('playerShort').height.mean())

181.74372848007872

## Tidy Data

Hadley Wickham's concept of a **tidy dataset** summarized as:

>  - Each variable forms a column
>  - Each observation forms a row
>  - Each type of observational unit forms a table

A longer paper describing this can be found in this [pdf](https://www.jstatsoft.org/article/view/v059i10/v59i10.pdf).

Having datasets in this form allows for much simpler analyses. So the first step is to try and clean up the dataset into a tidy dataset. 

The first step that I am going to take is to break up the dataset into the different observational units. By that I'm going to have separate tables (or dataframes) for: 

 - players
 - clubs
 - referees
 - countries
 - dyads

## Create Tidy Players Table

In [17]:
df2 = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
     'key2':['one', 'two', 'one', 'two', 'one'],
     'data1':np.random.randn(5),
     'data2':np.random.randn(5)})
df2

  key1 key2     data1     data2
0    a  one -0.071263 -0.734116
1    a  two  0.882403 -1.598095
2    b  one -0.031270 -1.497234
3    b  two -1.118872 -0.206794
4    a  one  2.449043  1.059959

In [18]:
grouped = df2['data1'].groupby(df['key1'])
grouped.mean()

KeyError: 'key1'

In [19]:
player_index = 'playerShort'
player_cols = [#'player', # drop player name, we have unique identifier
               'birthday',
               'height',
               'weight',
               'position',
               'photoID',
               'rater1',
               'rater2',
              ]

In [20]:
all_cols_unique_players = df.groupby('playerShort')
all_cols_unique_players.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,...,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
10,antonio-rukavina,Antonio Rukavina,Real Valladolid,Spain,26.01.1984,177.0,74.0,Right Fullback,2,2,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
11,ashkan-dejagah,Ashkan Dejagah,Fulham FC,England,05.07.1986,181.0,74.0,Left Winger,1,1,...,0.50,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
12,benedikt-hoewedes,Benedikt Höwedes,FC Schalke 04,Germany,29.02.1988,187.0,80.0,Center Back,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
13,chris-baird,Chris Baird,Fulham FC,England,25.02.1982,186.0,77.0,Defensive Midfielder,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
14,chris-brunt,Chris Brunt,West Bromwich Albion,England,14.12.1984,185.0,74.0,NaN,1,0,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
15,daniel-schwaab,Daniel Schwaab,Bayer Leverkusen,Germany,23.08.1988,186.0,76.0,Right Fullback,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
16,dennis-aogo,Dennis Aogo,Hamburger SV,Germany,14.01.1987,184.0,85.0,Left Fullback,1,1,...,0.50,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
17,george-mccartney,George McCartney,West Ham United,England,29.04.1981,180.0,74.0,Left Fullback,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
18,gylfi-sigurdsson,Gylfi Sigurðsson,Tottenham Hotspur,England,08.09.1989,186.0,77.0,Attacking Midfielder,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
19,ivan-obradovic,Ivan Obradović,Real Zaragoza,Spain,25.07.1988,181.0,74.0,Left Fullback,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
20,jan-moravek,Jan Morávek,FC Augsburg,Germany,01.11.1989,180.0,75.0,Attacking Midfielder,1,0,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
21,jan-rosenthal,Jan Rosenthal,SC Freiburg,Germany,07.04.1986,186.0,76.0,Attacking Midfielder,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
22,jonny-evans,Jonny Evans,Manchester United,England,02.01.1988,188.0,77.0,Center Back,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
23,kyriakos-papadopoulos,Kyriakos Papadopoulos,FC Schalke 04,Germany,23.02.1992,183.0,85.0,Center Back,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
24,marko-marin,Marko Marin,Chelsea FC,England,13.03.1989,170.0,63.0,Attacking Midfielder,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
25,mats-hummels,Mats Hummels,Borussia Dortmund,Germany,16.12.1988,192.0,90.0,Center Back,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
26,mesut-oezil,Mesut Özil,Real Madrid,Spain,15.10.1988,183.0,76.0,Attacking Midfielder,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
27,milorad-pekovic,Milorad Peković,SpVgg Greuther Fürth,Germany,05.08.1977,189.0,88.0,Defensive Midfielder,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
28,nemanja-vidic,Nemanja Vidić,Manchester United,England,21.10.1981,188.0,82.0,Center Back,2,2,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
29,neven-subotic,Neven Subotić,Borussia Dortmund,Germany,10.12.1988,193.0,88.0,Center Back,2,2,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117353,dylan-tombides,Dylan Tombides,West Ham United,England,08.03.1994,180.0,NaN,Center Forward,1,1,...,NaN,2481,100,JAM,0.109661,517.0,0.000881,-1.076350,537.0,0.004087
118341,dominic-samuel,Dominic Samuel,Reading FC,England,01.04.1994,182.0,NaN,NaN,1,0,...,NaN,2517,44,ENGL,0.326690,44791.0,0.000010,0.356446,46916.0,0.000037
120273,jonathan-santiago,Jonathan Santiago,Olympique Marseille,France,09.06.1994,167.0,59.0,NaN,1,0,...,NaN,2546,57,AUT,0.337539,1319.0,0.000331,0.394139,1365.0,0.001717
120280,kevin-osei,Kevin Osei,Olympique Marseille,France,26.03.1991,173.0,71.0,NaN,1,0,...,0.75,2546,57,AUT,0.337539,1319.0,0.000331,0.394139,1365.0,0.001717
120377,wesley-jobello,Wesley Jobello,Olympique Marseille,France,23.01.1994,179.0,68.0,Left Winger,1,0,...,0.75,2546,57,AUT,0.337539,1319.0,0.000331,0.394139,1365.0,0.001717
121494,stephen-sama,Stephen Sama,Liverpool FC,England,05.03.1993,188.0,NaN,NaN,1,0,...,NaN,2572,64,NLD,0.352920,5952.0,0.000070,0.445679,6121.0,0.000269
121798,adrien-thomasson,Adrien Thomasson,Évian Thonon Gaillard,France,10.12.1993,182.0,75.0,NaN,1,1,...,NaN,2598,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
121911,diacko-fofana,Diacko Fofana,OGC Nice,France,29.07.1994,175.0,71.0,NaN,1,0,...,NaN,2598,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
121939,fabien-dao-castellana,Fabien Dao Castellana,OGC Nice,France,28.07.1993,169.0,61.0,Defensive Midfielder,1,0,...,NaN,2598,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
122216,petrus-boumal,Petrus Boumal,FC Sochaux,France,20.04.1993,175.0,75.0,Center Midfielder,1,0,...,NaN,2598,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
122915,cyril-hennion,Cyril Hennion,OGC Nice,France,03.01.1992,NaN,NaN,NaN,1,0,...,NaN,2619,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
123250,pape-coulibaly,Pape Coulibaly,AS Saint-Étienne,France,02.03.1988,194.0,92.0,Goalkeeper,1,1,...,NaN,2619,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
125070,adrien-thomasson,Adrien Thomasson,Évian Thonon Gaillard,France,10.12.1993,182.0,75.0,NaN,1,0,...,NaN,2672,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
125306,mickael-charvet,Mickaël Charvet,AC Ajaccio,France,31.03.1988,179.0,77.0,NaN,1,0,...,NaN,2672,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
125413,yannick-aguemon,Yannick Aguemon,Toulouse FC,France,11.02.1992,180.0,74.0,Right Winger,1,0,...,NaN,2672,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
125519,cyril-hennion,Cyril Hennion,OGC Nice,France,03.01.1992,NaN,NaN,NaN,1,0,...,NaN,2673,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
129412,dylan-tombides,Dylan Tombides,West Ham United,England,08.03.1994,180.0,NaN,Center Forward,1,0,...,NaN,2791,32,CHE,0.345305,1886.0,0.000219,0.377193,1938.0,0.000823
130405,adrien-thomasson,Adrien Thomasson,Évian Thonon Gaillard,France,10.12.1993,182.0,75.0,NaN,1,0,...,NaN,2796,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
131014,quentin-pereira,Quentin Pereira,Stade Reims,France,21.04.1992,174.0,66.0,NaN,1,0,...,NaN,2796,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
131197,yannick-aguemon,Yannick Aguemon,Toulouse FC,France,11.02.1992,180.0,74.0,Right Winger,1,0,...,NaN,2796,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
139030,senah-mango,Sénah Mango,Olympique Marseille,France,13.12.1989,181.0,78.0,Center Back,1,0,...,1.00,2951,22,POL,0.369958,1021.0,0.000412,0.831268,1049.0,0.002034
139048,jeremy-frick,Jérémy Frick,Olympique Lyon,France,08.03.1993,190.0,90.0,Goalkeeper,1,0,...,NaN,2953,32,CHE,0.345305,1886.0,0.000219,0.377193,1938.0,0.000823
139150,baptiste-aloe,Baptiste Aloe,Olympique Marseille,France,29.06.1994,184.0,77.0,Center Back,1,1,...,0.25,2960,80,FIN,0.396512,2273.0,0.000187,1.031407,2388.0,0.000931
139769,momar-bangoura,Momar Bangoura,Olympique Marseille,France,24.02.1994,176.0,65.0,Defensive Midfielder,1,0,...,1.00,2961,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
139946,wesley-jobello,Wesley Jobello,Olympique Marseille,France,23.01.1994,179.0,68.0,Left Winger,1,0,...,0.75,2961,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
141414,dylan-tombides,Dylan Tombides,West Ham United,England,08.03.1994,180.0,NaN,Center Forward,1,0,...,NaN,3015,47,PER,0.398503,254.0,0.001682,0.697417,271.0,0.008707
143329,marc-vidal,Marc Vidal,Toulouse FC,France,03.06.1991,187.0,80.0,Goalkeeper,1,0,...,NaN,3077,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
143408,quentin-pereira,Quentin Pereira,Stade Reims,France,21.04.1992,174.0,66.0,NaN,1,0,...,NaN,3077,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
143973,johann-durand,Johann Durand,Évian Thonon Gaillard,France,17.06.1981,182.0,71.0,NaN,1,0,...,NaN,3080,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
144067,alexander-ndoumbou,Alexander N'Doumbou,Olympique Marseille,France,04.01.1992,174.0,70.0,NaN,1,0,...,0.50,3083,30,COL,0.377402,601.0,0.000703,0.588050,636.0,0.003579

In [21]:
# Count the unique variables (if we got different weight values, 
# for example, then we should get more than one unique value in this groupby)
all_cols_unique_players = df.groupby('playerShort').agg({col:'nunique' for col in player_cols})

In [22]:
all_cols_unique_players.head()

,birthday,height,weight,position,photoID,rater1,rater2
playerShort,,,,,,,
aaron-hughes,1,1,1,1,1,1,1
aaron-hunt,1,1,1,1,1,1,1
aaron-lennon,1,1,1,1,1,1,1
aaron-ramsey,1,1,1,1,1,1,1
abdelhamid-el-kaoutari,1,1,1,1,1,1,1

In [31]:
# If all values are the same per player then this should be empty (and it is!)
all_cols_unique_players[all_cols_unique_players > 1].dropna().head()

Empty DataFrame
Columns: [birthday, height, weight, position, photoID, rater1, rater2]
Index: []

In [24]:

# A slightly more elegant way to test the uniqueness
all_cols_unique_players[all_cols_unique_players > 1].dropna().shape[0] == 0

True

In [25]:
def get_subgroup(dataframe, g_index, g_columns):
    
    """Helper function that creates a sub-table from the columns and runs a quick uniqueness test."""
    g = dataframe.groupby(g_index).agg({col:'nunique' for col in g_columns})
    if g[g > 1].dropna().shape[0] != 0:
        print("Warning: you probably assumed this had all unique values but it doesn't.")
    return dataframe.groupby(g_index).agg({col:'max' for col in g_columns})

In [26]:
players = get_subgroup(df, player_index, player_cols)
players.head()

,birthday,height,weight,position,photoID,rater1,rater2
playerShort,,,,,,,
aaron-hughes,08.11.1979,182.0,71.0,Center Back,3868.jpg,0.25,0.00
aaron-hunt,04.09.1986,183.0,73.0,Attacking Midfielder,20136.jpg,0.00,0.25
aaron-lennon,16.04.1987,165.0,63.0,Right Midfielder,13515.jpg,0.25,0.25
aaron-ramsey,26.12.1990,178.0,76.0,Center Midfielder,94953.jpg,0.00,0.00
abdelhamid-el-kaoutari,17.03.1990,180.0,73.0,Center Back,124913.jpg,0.25,0.25

In [27]:
def save_subgroup(dataframe, g_index, subgroup_name, prefix='raw_'):
    save_subgroup_filename = "".join([prefix, subgroup_name, ".csv.gz"])
    dataframe.to_csv(save_subgroup_filename, compression='gzip', encoding='UTF-8')
    test_df = pd.read_csv(save_subgroup_filename, compression='gzip', index_col=g_index, encoding='UTF-8')
    # Test that we recover what we send in
    if dataframe.equals(test_df):
        print("Test-passed: we recover the equivalent subgroup dataframe.")
    else:
        print("Warning -- equivalence test!!! Double-check.")

In [28]:
players = get_subgroup(df, player_index, player_cols)
players.head()

,birthday,height,weight,position,photoID,rater1,rater2
playerShort,,,,,,,
aaron-hughes,08.11.1979,182.0,71.0,Center Back,3868.jpg,0.25,0.00
aaron-hunt,04.09.1986,183.0,73.0,Attacking Midfielder,20136.jpg,0.00,0.25
aaron-lennon,16.04.1987,165.0,63.0,Right Midfielder,13515.jpg,0.25,0.25
aaron-ramsey,26.12.1990,178.0,76.0,Center Midfielder,94953.jpg,0.00,0.00
abdelhamid-el-kaoutari,17.03.1990,180.0,73.0,Center Back,124913.jpg,0.25,0.25

In [29]:
save_subgroup(players, player_index, "players")

Test-passed: we recover the equivalent subgroup dataframe.

## Create Tidy Clubs Table

Create the clubs table.

In [32]:
club_index = 'club'
club_cols = ['leagueCountry']
clubs = get_subgroup(df, club_index, club_cols)
clubs.head()

                leagueCountry
club
1. FC Nürnberg        Germany
1. FSV Mainz 05       Germany
1899 Hoffenheim       Germany
AC Ajaccio             France
AFC Bournemouth       England

In [33]:
clubs['leagueCountry'].value_counts()

England    48
Spain      27
France     22
Germany    21
Name: leagueCountry, dtype: int64

In [34]:
save_subgroup(clubs, club_index, "clubs", )

Test-passed: we recover the equivalent subgroup dataframe.

## Create Tidy Referees Table

In [35]:
referee_index = 'refNum'
referee_cols = ['refCountry']
referees = get_subgroup(df, referee_index, referee_cols)
referees.head()

        refCountry
refNum
1                1
2                2
3                3
4                4
5                5

In [36]:
referees.refCountry.nunique()

161

In [37]:
referees.tail()

        refCountry
refNum
3143            51
3144            55
3145            21
3146            51
3147            21

In [38]:
referees.shape

(3147, 1)

In [39]:
save_subgroup(referees, referee_index, "referees")

Test-passed: we recover the equivalent subgroup dataframe.

## Create Tidy Countries Table

In [41]:
country_index = 'refCountry'
country_cols = ['Alpha_3', # rename this name of country
                'meanIAT',
                'nIAT',
                'seIAT',
                'meanExp',
                'nExp',
                'seExp',
               ]
countries = get_subgroup(df, country_index, country_cols)
countries.head()

           Alpha_3   meanIAT    nIAT   meanExp     seExp     seIAT    nExp
refCountry
1              GRC  0.326391   712.0  0.396000  0.002696  0.000564   750.0
2              ZMB  0.203375    40.0 -0.204082  0.061504  0.010875    49.0
3              ESP  0.369894  1785.0  0.588297  0.001002  0.000229  1897.0
4              LUX  0.325185   127.0  0.538462  0.013752  0.003297   130.0
5              TUN  0.167132    19.0 -0.789474  0.111757  0.027327    19.0

In [42]:
rename_columns = {'Alpha_3':'countryName', }
countries = countries.rename(columns=rename_columns)
countries.head()

           countryName   meanIAT    nIAT   meanExp     seExp     seIAT    nExp
refCountry
1                  GRC  0.326391   712.0  0.396000  0.002696  0.000564   750.0
2                  ZMB  0.203375    40.0 -0.204082  0.061504  0.010875    49.0
3                  ESP  0.369894  1785.0  0.588297  0.001002  0.000229  1897.0
4                  LUX  0.325185   127.0  0.538462  0.013752  0.003297   130.0
5                  TUN  0.167132    19.0 -0.789474  0.111757  0.027327    19.0

In [43]:
countries.shape

(161, 7)

In [44]:
save_subgroup(countries, country_index, "countries")

Warning -- equivalence test!!! Double-check.

## Create separate (not yet Tidy) Dyads Table

This is one of the more complex tables to reason about -- so we'll save it for a bit later.

In [43]:
dyad_index = ['refNum', 'playerShort']
dyad_cols = ['games',
             'victories',
             'ties',
             'defeats',
             'goals',
             'yellowCards',
             'yellowReds',
             'redCards',
            ]

In [44]:
dyads = get_subgroup(df, g_index=dyad_index, g_columns=dyad_cols)

In [64]:
dyads.head()

                      redCards  victories  defeats  goals  games  yellowCards  \
refNum playerShort
1      lucas-wilchez         0          0        1      0      1            0
2      john-utaka            0          0        1      0      1            1
3      abdon-prats           0          0        0      0      1            1
       pablo-mari            0          1        0      0      1            0
       ruben-pena            0          1        0      0      1            0

                      ties  yellowReds
refNum playerShort
1      lucas-wilchez     0           0
2      john-utaka        0           0
3      abdon-prats       1           0
       pablo-mari        0           0
       ruben-pena        0           0

In [46]:
dyads.shape

(146028, 8)

In [47]:
dyads[dyads.redCards > 1].head(10)

                          yellowCards  yellowReds  victories  ties  games  \
refNum playerShort
140    bodipo                       0           0          2     1      6
367    antonio-lopez_2              2           0          5     2      8
432    javi-martinez                2           0          4     3     14
       jonas                        0           0          1     4      9
487    phil-jagielka                0           0          2     1      7
586    cyril-jeunechamp             6           0          8     0     14
804    sergio-ramos                 6           1         12     1     18
985    aly-cissokho                 1           0          1     5      9
1114   eugen-polanski               0           0          4     0      8
1214   emmanuel-adebayor            4           1          9     7     23

                          defeats  goals  redCards
refNum playerShort
140    bodipo                   3      1         2
367    antonio-lopez_2          1      0         2
432    javi-martinez            7      2         2
       jonas                    4      1         2
487    phil-jagielka            4      1         2
586    cyril-jeunechamp         6      0         2
804    sergio-ramos             5      4         2
985    aly-cissokho             3      1         2
1114   eugen-polanski           4      0         2
1214   emmanuel-adebayor        7     10         2

In [48]:
save_subgroup(dyads, dyad_index, "dyads")

Test-passed: we recover the equivalent subgroup dataframe.

In [49]:
dyads.redCards.max()

2